@font-face {
    font-family: "Norse Bold";
    src: url(Norse-Bold.otf);
}

:root {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
}

.image-section {
    flex: 1 1 40%;
    position: relative;
    height: 100%;
}

.plant {
    width: 100%;
    margin: 0;
}

.logo {
    position: absolute;
    top: 25%;
    height: 15%;
    width: calc(100% - 5vw);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: "Norse Bold";
    font-size: 7rem;
}

.logo > img {
    height: 100%;
}

.footer {
    font-family: "Segoe UI", sans-serif;
    color: white;
    position: absolute;
    bottom: 1rem;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 5vw);
}

.footer a {
    color: #e5e7eb;
}

.form-section {
    font-family: 'Segoe UI', sans-serif;
    letter-spacing: 0.001em;
    flex: 1 1 60%;
    margin-left: -5vw;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.form-section > * > * {
    width: 75%;
}

.text-block {
    flex: 1;
    background-color: #f5f5f5;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    line-height: 1em;
}

.text-block span {
    font-style: italic;
}

.input-block {
    flex: 1;
    background-color: white;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0px 5px 5px lightgray;
    z-index: 3;
}

.fields {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 75%;
    flex-wrap: wrap;
}

.field {
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.field > label {
    letter-spacing: 0.1em;
    font-size: 0.8rem;
    font-weight: 600;
}

.field > input {
    border-radius: 0.25rem;
    padding: 0.25rem;
    width: 80%;
    font-size: 1rem;
    border: 2px solid #e5e7eb;
    
}

.field > input:focus {
    box-shadow: 5px 5px 5px lightgray;
}

.field > input:invalid {
    border-color: salmon;
}

.field > input.invalid {
    border-color: salmon;
}

.input-block > h1 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.submit-block {
    flex: 1;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem;
}

.submit-block > button {
    font-family: 'Segoe UI';
    color: white;
    background-color: #596D48;
    width: 16rem;
    padding: 0.75rem;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px lightgray;
    border: none;
}

.submit-block a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}
